{% extends "_layouts/cp" %} 
{% set title = "Settings"|t('boarding') %} 
{% import "_includes/forms" as forms %} 

{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') },
    { label: "Plugins"|t('app'), url: url('settings/plugins') }
] %}

{% block actionButton %}
    {% if isMultiSite and isStandardEdition %}
        <div class="site-selector">
            <div class="btn menubtn" data-icon="world">{{ currentSite.name|t('site') }}</div>
            <div class="menu">
                <ul class="padded">
                    {% for siteItem in allSites %}
                        <li>
                            <a href="{{ url('boarding/settings', {site: siteItem.handle}) }}" {% if siteItem.id == currentSite.id %}class="sel"{% endif %}>
                                {{ siteItem.name|t('site') }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

<div class="boarding-plugin">
  <form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput("boarding/settings/save") }}
    {{ redirectInput("boarding/settings") }}

    <h1>{{ "Tours Settings"|t('boarding') }}</h1>

    {{ forms.selectField({
		label: "Default Behavior"|t('boarding'),
		instructions: "Configure how tours behave by default."|t('boarding'),
		name: (isMultiSite and isStandardEdition ? "siteSettings[defaultBehavior]" : "settings[defaultBehavior]"),
		options: {
			'auto': "Autoplay"|t('boarding'),
			'manual': "Manual"|t('boarding')
		},
		first: true,
		value: (isMultiSite and isStandardEdition ? siteSettings.defaultBehavior : settings.defaultBehavior)
	}) }}

    {{ forms.selectField({
		label: "Menu Position"|t('boarding'),
		instructions: "Where should the tours menu appear in the control panel"|t('boarding'),
		name: (isMultiSite and isStandardEdition ? "siteSettings[buttonPosition]" : "settings[buttonPosition]"),
		options: {
			'header': "Header"|t('boarding'),
			'sidebar': "Sidebar"|t('boarding'),
			'none': "Hide"|t('boarding')
		},
		value: (isMultiSite and isStandardEdition ? siteSettings.buttonPosition : settings.buttonPosition)
	}) }}

    {{ forms.textField({
		label: "Menu Label"|t('boarding'),
		name: (isMultiSite and isStandardEdition ? "siteSettings[buttonLabel]" : "settings[buttonLabel]"),
		value: (isMultiSite and isStandardEdition ? siteSettings.buttonLabel : settings.buttonLabel)
	}) }}


    <hr />

    {{ forms.textField({
        label: "Back Button Text"|t('boarding'),
        instructions: "Text for the 'Back' button in tours"|t('boarding'),
        name: (isMultiSite and isStandardEdition ? "siteButtonTexts[backButtonText]" : "settings[backButtonText]"),
        value: (isMultiSite and isStandardEdition ? siteButtonTexts.backButtonText : settings.backButtonText),
        placeholder: "Back"
    }) }}

    {{ forms.textField({
        label: "Next Button Text"|t('boarding'),
        instructions: "Text for the 'Next' button in tours"|t('boarding'),
        name: (isMultiSite and isStandardEdition ? "siteButtonTexts[nextButtonText]" : "settings[nextButtonText]"),
        value: (isMultiSite and isStandardEdition ? siteButtonTexts.nextButtonText : settings.nextButtonText),
        placeholder: "Next"
    }) }}

    {{ forms.textField({
        label: "Done Button Text"|t('boarding'),
        instructions: "Text for the 'Done' button on the last step of tours"|t('boarding'),
        name: (isMultiSite and isStandardEdition ? "siteButtonTexts[doneButtonText]" : "settings[doneButtonText]"),
        value: (isMultiSite and isStandardEdition ? siteButtonTexts.doneButtonText : settings.doneButtonText),
        placeholder: "Done"
    }) }}

    <button type="submit" class="btn submit">{{ 'Save'|t('app') }}</button>
  </form>
</div>
{% endblock %}
